<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
               <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
               <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
               <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
     </staticContent>
    </system.webServer>
</configuration>
