{% include "partials/header.njk" %}

<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color1-light);">
            </div>
            <div class="col-md-10">
                <h2>Artists and designers
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8">
                <ul>
                    <li>Akemi Takada</li>
                    <li>Bruno Munari</li>
                    <li>Daniel Weil</li>
                    <li><a href="https://www.lovehulten.com/" target="_blank">Love Hultén</a></li>
                    <li><a href="https://takahirokurashima.com/" target="_blank">Takahiro Kurashima</a></li>
                    <li><a href="https://timhunkin.com/" target="_blank">Tim Hunkin</a></li>
                </ul>
                <figure style="margin-left:24px; margin-right:-24px; padding-bottom:36px; padding-top:-36px;">
                    <img
                        src="/img/radioweil.jpg">
                    <figcaption><i>Radio in a Bag</i> (1983), Daniel Weil</figcaption>
                </figure>


            </div>
            <div class="col-md-4">
                <figure style="margin-left:24px; margin-right:-24px; padding-bottom:36px; padding-top:-36px;">
                    <img src="/img/crytakada.jpg">
                    <figcaption><i>Creamy Mami</i> llustration by Akemi Takada</figcaption>
                </figure>

                <figure style="margin-left:24px; margin-right:-24px; padding-bottom:36px; padding-top:-36px;">
                    <img src="https://www.lovehulten.com/uploads/3/0/4/8/30489724/tape-12_orig.jpg">
                    <figcaption><i>MCP</i> (2020), Love Hultén</figcaption>
                </figure>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color1-light);">
            </div>
            <div class="col-md-10">
                <h2>Books
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8">
                <ul>
                    <li><i>80s Girly Design Collection</i> by Yukacinnamon</li>
                    <li><i>Design Noir: The Secret Life of Electronic Objects</i> by Anthony Dunne and Fiona Raby</li>
                    <li><i>From Barbie to Mortal Kombat</i> edited by Justine Cassell and Henry Jenkins</li>
                    <li><i>The Future of Nostalgia</i> by Svetlana Boym</li>
                    <li><i>Understanding Jim Crow</i> by David Pilgrim</li>
                </ul>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color1-light);">
            </div>
            <div class="col-md-10">
                <h2>Video games and software
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8">
                <ul>
                    <li>After Dark (Apple Macintosh)</li>
                    <li><i>Kirby's Adventure</i> (Nintendo Entertainment System)</li>
                    <li><i>Otocky</i> (Nintendo Famicom)</li>
                    <li><i>Tomodachi Life</i> (Nintendo 3DS)</li>
                </ul>
                <figure style="margin-left:24px; margin-right:-24px; padding-bottom:36px; padding-top:-36px;">
                    <img src="https://sickr.files.wordpress.com/2013/04/kirbys_adventure_famicom.jpg">
                    <figcaption>Box art for Japanese version of <i>Kirby's Adventure</i> (1993)</figcaption>
                </figure>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color1-light);">
            </div>
            <div class="col-md-10">
                <h2>Related acts and friends
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8">
                <ul>
                    <li><a href="http://andrewreitano.com/" target="_blank">Andrew Reitano</a></li>
                    <li><a href="https://everest-pipkin.com/" target="_blank">Everest Pipkin</a></li>
                    <li><a href="https://fantasticarcade.com/" target="_blank">Fantastic Arcade</a></li>
                    <li><a href="https://femicom.org/" target="_blank">FEMICOM Museum</a></li>
                    <li><a href="https://100r.co/site/about_us.html" target="_blank">Hundred Rabbits</a></li>
                    <li><a href="http://www.themuseumofhumanachievement.com/" target="_blank">The Museum of Human
                            Achievement</a></li>
                    <li><a href="http://unicornycopia.com/" target="_blank">Nathalie Lawhead</a></li>
                    <li><a href="http://no-carrier.com/" target="_blank">NO CARRIER</a></li>
                    <li><a href="http://nullsleep.com/" target="_blank">Nullsleep</a></li>
                    <li><a href="https://noopkat.com/" target="_blank">Suz Hinton</a></li>
                    <li><a href="https://gamehistory.org/" target="_blank">Video Game History Foundation</a></li>
                    <li><a href="http://wileywiggins.com/" target="_blank">Wiley Wiggins</a></li>
                </ul>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>

    {% include "partials/footer.njk" %}