{% include "partials/header.njk" %}

<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color1-light);">
            </div>
            <div class="col-md-10">
            <h2>1. Fuck history</h2>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8">
                <p>Video game history is written by enthusiasts and riddled with errors and omissions.</p>
                <p>Computing history offers no sensible technological narrative.</p>
                <p>Where I do not see my experiences reflected in these histories, I am compelled to subvert their authority by creating alternative retrogaming artifacts, fakes, and forgeries.</p>
            </div>
            <div class="col-md-4">
            <figure style="margin-left:24px; margin-right:-24px; padding-bottom:36px; padding-top:-36px;">
                    <img src="https://hxlntblob.blob.core.windows.net/nbm/kitty.gif">
                    <figcaption><i>Hello Kitty Land</i>, 2003</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color1-light);">
            </div>
            <div class="col-md-10">
            <h2>2. Make it cute</h2>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8">
                <p>Aesthetics engender an ambient sense of belonging.</p>
                <p>Cute aesthetics create new kinds of belonging in retrocomputing.</p>
                <p>I privilege whimsy over realism to nurture a cute playground of electronic artifacts saturated with commercial <i>un-</i>viability.</p>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color1-light);">
            </div>
            <div class="col-md-10">
            <h2>3. Break it, remake it</h2>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8">
                <p>Video game history favors a monoculture.</p>
                <p>Diverse futures can be made possible by diverse recollections and reconstitutions of the past.</p>
                <p>The retrocomputing canon should be viewed with skeptism and, where necessary, broken apart and reimagined.</p>
                <p>I strive to build cute tools, tutorials, and projects that invite diverse participation in the co-creation of new pasts and new futures. <i>C'mon, let's go!</i></p>
                <figure style="margin-left:24px; margin-right:-24px; padding-bottom:36px; padding-top:-36px;">
                    <img src="/img/scrane3.png">
                    <figcaption><i>My Fucked-up Little Pony</i> VHS livestream performance (2020)</figcaption>
                </figure>
            </div>
            <div class="col-md-4">
            <figure style="margin-left:24px; margin-right:-24px; padding-bottom:36px; padding-top:-36px;">
                    <img src="http://25.media.tumblr.com/tumblr_m498b3bdV41qbw5o0o1_500.gif">
                    <figcaption><i>Explorer.ROM</i>, 2012</figcaption>
                </figure>
                
            </div>
        </div>
    </div>
</div>

    {% include "partials/footer.njk" %}