{% include "partials/header.njk" %}

{% macro categorycount(pagename) %}
{% set count = 0 %}
{% for category in collections.raecyclopedia %}
    {% if category.data.pagename == pagename %}
        {{ category.data.entries | length }}
    {% endif %}
{% endfor %}
{% endmacro %}

<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color4-light);"></div>
            <div class="col-md-10">
                <h2>Categories
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8">
                <ul>
                    <li><a href="art">Art</a> ({{ categorycount("Art") | trim }})</li>
                    <li><a href="beauty-and-fashion">Beauty and fashion</a> ({{ categorycount("Beauty and fashion") | trim }})</li>
                    <li><a href="coding">Coding</a> ({{ categorycount("Coding") | trim }})</li>
                    <li><a href="cooking">Cooking</a> ({{ categorycount("Cooking") | trim }})</li>
                    <li><a href="gardening">Gardening</a> ({{ categorycount("Gardening") | trim }})</li>
                    <li><a href="music">Music</a> ({{ categorycount("Music") | trim }})</li>
                    <li><a href="tv-and-film">TV and film</a> ({{ categorycount("TV and film") | trim }})</li>
                     <li><a href="video-games">Video games</a> ({{ categorycount("Video games") | trim }})</li>
                </ul>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>

{% include "partials/footer.njk" %}