{% include "partials/header.njk" %}

{% macro category(pagename) %}
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color4-light);"></div>
            <div class="col-md-10">
                    <h2>{{ pagename }}</h2><br>
            </div>
        </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-8">

                    {% for item in entries %}
                            {% if item.image %}
                                <p><strong>{{ item.question | safe }} </strong><span class="question">Answer</span><span class="hiddenanswer">{{ item.answer | safe }}
                                <img style="filter: saturate(75%); max-width:100%;  margin-top:24px; margin-left:24px; margin-right:-24px; padding-top:-36px;" src="{{ item.image }}">
                                <span style="margin-left:24px;"><i>Via <a href="{{ item.sources[0] }}" target="_blank">{{ item.imagecaption | safe }}</a>
                                        </i></span>
                                </span>
                                
                            {% else %}
                                <p><strong>{{ item.question | safe }} </strong><span class="question">Answer</span><span class="hiddenanswer">{{ item.answer | safe }}</p></span>
                            {% endif %}
                    {% endfor %}  
                </div>
                <div class="col-md-4">
                </div>
        </div>
    </div>
</div>
{% endmacro %}

{{ category(pagename)}}

<script>
var coll = document.getElementsByClassName("question");
var i;

for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function () {
        this
            .classList
            .toggle("active");
        this.style.display = "none";
        var content = this.nextElementSibling;
        if (content.style.display === "inline") {
            content.style.display = "none";
        } else {
            content.style.display = "inline";
        }
    });
}
</script>

{% include "partials/footer.njk" %}