{% include "partials/header.njk" %}

{% macro category(tag) %}
{% set loopnumber = 0 %}
{% for item in entries %}
  {% if item.tag == tag %}
    {% set loopnumber = loopnumber + 1 %}
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color4-light);"></div>
            <div class="col-md-10">
                {% if loopnumber == 1%}
                    <h2 id="{{ tag }}">{{ tag | title }}</h2><br>
                {% endif %}
                        <h2>{{ item.question | safe}}
                        </h2>
            </div>
        </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-8">
                        {% if loopnumber == 1 %}<hr><br><br>{% endif %}
                        {% if item.image %}
                                    <figure style="margin-left:24px; margin-right:-24px; padding-bottom:36px; padding-top:-36px;">
                                        <img src="{{ item.image }}">
                                        <figcaption>
                                            <i>Via
                                                <a href="{{ item.sources[0] }}" target="_blank">{{ item.answer }}</a>
                                            </i>
                                        </figcaption>
                                    </figure>
                                </li>
                            {% else %}
                        <p>{{ item.answer | safe}}</p>
                        {% endif %}
                    </div>
                    <div class="col-md-4"></div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endmacro %}

<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color4-light);"></div>
            <div class="col-md-10">
                <h2>Table of contents
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8">
                <div class="row justify-content-between">
                    <div class="col-md-offset-*" style="background-color:var(--color1-light); padding: 16px; margin-bottom: 16px; width:31%; min-height:100px; text-align: center; box-shadow: 8px 8px var(--color1);">
                        <p></p>
                        <h3>
                            <a href="#art">Art</a>
                        </h3>
                        <p>(1)</p>
                    </div>
                    <div class="col-md-offset-*" style="background-color:var(--color2-light); padding: 16px; width:31%; min-height:100px; text-align: center; margin-bottom: 16px; box-shadow: 8px 8px var(--color2);">
                        <p></p>
                        <h3>
                            <a href="#coding">Coding</a>
                        </h3>
                        <p>(4)</p>
                    </div>
                    <div class="col-md-offset-*" style="background-color:var(--color3-light); padding: 16px; width:31%; min-height:100px; text-align: center; margin-bottom: 16px; box-shadow: 8px 8px var(--color3);">
                        <p></p>
                        <h3>
                            <a href="#cooking">Cooking</a>
                        </h3>
                        <p>(4)</p>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-md-offset-*" style="background-color:var(--color4-light); padding: 16px; margin-bottom: 16px; width:48%; min-height:100px; text-align: center; box-shadow: 8px 8px var(--color4);">
                        <p></p>
                        <h3>
                            <a href="#gardening">Gardening</a>
                        </h3>
                        <p>(3)</p>
                    </div>
                    <div class="col-md-offset-*" style="background-color:var(--color1-light); padding: 16px; width:48%; min-height:100px; text-align: center; margin-bottom: 16px; box-shadow: 8px 8px var(--color1);">
                        <p></p>
                        <h3>
                            <a href="#music">Music</a>
                        </h3>
                        <p>(2)</p>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-md-offset-*" style="background-color:var(--color2-light); padding: 16px; margin-bottom: 48px; width:31%; min-height:100px; text-align: center; box-shadow: 8px 8px var(--color2);">
                        <p></p>
                        <h3>
                            <a href="#travel">Travel</a>
                        </h3>
                        <p>(2)</p>
                    </div>
                    <div class="col-md-offset-*" style="background-color:var(--color3-light); padding: 16px; width:31%; min-height:100px; text-align: center; margin-bottom: 48px; box-shadow: 8px 8px var(--color3);">
                        <p></p>
                        <h3>
                            <a href="#videogames">Video games</a>
                        </h3>
                        <p>(6)</p>
                    </div>
                    <div class="col-md-offset-*" style="background-color:var(--color4-light); padding: 16px; width:31%; min-height:100px; text-align: center; margin-bottom: 48px; box-shadow: 8px 8px var(--color4);">
                        <p></p>
                        <h3>
                            <a href="#vocabulary">Vocabulary</a>
                        </h3>
                        <p>(2)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>

{% set loopnumber = 0 %}
{% for item in entries %}
  {% if item.tag == "art" %}
    {% set loopnumber = loopnumber + 1 %}
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color4-light);"></div>
            <div class="col-md-10">                
                        {% if loopnumber == 1 %}<h2 id="art">Art</h2><br>{% endif %}    
                        <h2>{{ item.question }}
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-8">
                        {% if loopnumber == 1 %}<hr><br><br>{% endif %}
                        <p>{{ item.answer | safe }}</p>
                    </div>
                    <div class="col-md-4"></div>
        </div>
    </div>
</div>
{% endif %}
            {% endfor %}

{% set loopnumber = 0 %}
{% for item in entries %}
  {% if item.tag == "coding" %}
    {% set loopnumber = loopnumber + 1 %}
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color4-light);"></div>
            <div class="col-md-10">
                {% if loopnumber == 1%}
                    <h2 id="coding">Coding</h2><br>
                {% endif %}
                        <h2>{{ item.question | safe}}
                        </h2>
            </div>
        </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-8">
                        {% if loopnumber == 1 %}<hr><br><br>{% endif %}
                        <p>{{ item.answer | safe}}</p>
                    </div>
                    <div class="col-md-4"></div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

{% set loopnumber = 0 %}
{% for item in entries %}
  {% if item.tag == "cooking" %}
    {% set loopnumber = loopnumber + 1 %}
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color4-light);"></div>
            <div class="col-md-10">
                {% if loopnumber == 1%}
                    <h2 id="cooking">Cooking</h2><br>
                {% endif %}
                        <h2>{{ item.question | safe}}
                        </h2>
            </div>
        </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-8">
                        {% if loopnumber == 1 %}<hr><br><br>{% endif %}
                        <p>{{ item.answer | safe}}</p>
                    </div>
                    <div class="col-md-4"></div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

{% set loopnumber = 0 %}
{% for item in entries %}
  {% if item.tag == "gardening" %}
    {% set loopnumber = loopnumber + 1 %}
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color4-light);"></div>
            <div class="col-md-10">
                {% if loopnumber == 1%}
                    <h2>Gardening</h2><br>
                {% endif %}
                        <h2 id="gardening">{{ item.question | safe}}
                        </h2>
            </div>
        </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-8">
                        {% if loopnumber == 1 %}<hr><br><br>{% endif %}
                        <p>{{ item.answer | safe}}</p>
                    </div>
                    <div class="col-md-4"></div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

{{ category('music') }}

{% set loopnumber = 0 %}
{% for item in entries %}
  {% if item.tag == "travel" %}
    {% set loopnumber = loopnumber + 1 %}
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color4-light);"></div>
            <div class="col-md-10">
                {% if loopnumber == 1%}
                    <h2>Travel</h2><br>
                {% endif %}
                        <h2 id="travel">{{ item.question | safe}}
                        </h2>
            </div>
        </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-8">
                        {% if loopnumber == 1 %}<hr><br><br>{% endif %}
                        {% if item.image %}
                                    <figure style="margin-left:24px; margin-right:-24px; padding-bottom:36px; padding-top:-36px;">
                                        <img src="{{ item.image }}">
                                        <figcaption>
                                            <i>Via
                                                <a href="{{ item.source[0] }}" target="_blank">{{ item.answer }}</a>
                                            </i>
                                        </figcaption>
                                    </figure>
                                </li>
                            {% else %}
                        <p>{{ item.answer | safe}}</p>
                        {% endif %}
                    </div>
                    <div class="col-md-4"></div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

{{ category('videogames') }}

{{ category('vocabulary') }}

<script>
var coll = document.getElementsByClassName("question");
var i;

for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function () {
        this
            .classList
            .toggle("active");
        this.style.display = "none";
        var content = this.nextElementSibling;
        if (content.style.display === "inline") {
            content.style.display = "none";
        } else {
            content.style.display = "inline";
        }
    });
}
</script>

{% include "partials/footer.njk" %}