{% include "partials/header.njk" %}

<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color4-light);">
            </div>
            <div class="col-md-10">
                <h2>Table of contents
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8">
                <div class="row justify-content-between">
                    <div class="col-md-offset-*" style="background-color:var(--color1-light); padding: 16px; margin-bottom: 16px; width:31%; min-height:100px; text-align: center; box-shadow: 8px 8px var(--color1);">
                    <p></p>
                        <h3><a href="#art">Art</a></h3>
                        <p>(1)</p>
                    </div>
                    <div class="col-md-offset-*" style="background-color:var(--color2-light); padding: 16px; width:31%; min-height:100px; text-align: center; margin-bottom: 16px; box-shadow: 8px 8px var(--color2);">
                        <p></p>
                            <h3><a href="#coding">Coding</a></h3>
                            <p>(1)</p>
                    </div>
                    <div class="col-md-offset-*" style="background-color:var(--color3-light); padding: 16px; width:31%; min-height:100px; text-align: center; margin-bottom: 16px; box-shadow: 8px 8px var(--color3);">
                    <p></p>
                        <h3><a href="#cooking">Cooking</a></h3>
                        <p>(3)</p>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-md-offset-*" style="background-color:var(--color4-light); padding: 16px; margin-bottom: 48px; width:48%; min-height:100px; text-align: center; box-shadow: 8px 8px var(--color4);">
                    <p></p>
                        <h3><a href="#gardening">Gardening</a></h3>
                        <p>(3)</p>
                    </div>
                    <div class="col-md-offset-*" style="background-color:var(--color1-light); padding: 16px; width:48%; min-height:100px; text-align: center; margin-bottom: 48px; box-shadow: 8px 8px var(--color1);">
                        <p></p>
                            <h3><a href="#travel">Travel</a></h3>
                            <p>(1)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color4-light);">
            </div>
            <div class="col-md-10">
                <h2 id="art">Art
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8">
                <ul>
                    {% for item in entries %}
                        {% if item.tag == "art" %}
                            <li><strong>{{ item.question }}</strong><br>{{item.answer}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color4-light);">
            </div>
            <div class="col-md-10">
                <h2>Coding
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8">
                <ul>
                    {% for item in entries %}
                        {% if item.tag == "coding" %}
                            <li><strong>{{ item.question }}</strong><br>{{item.answer}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color4-light);">
            </div>
            <div class="col-md-10">
                <h2 id="cooking">Cooking</h2>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8">
                <ul>
                    {% for item in entries %}
                        {% if item.tag == "cooking" %}
                            <li><strong>{{ item.question }}</strong><br>{{item.answer}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color4-light);">
            </div>
            <div class="col-md-10">
                <h2 id="gardening">Gardening
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8">
                <ul>
                    {% for item in entries %}
                        {% if item.tag == "gardening" %}
                            <li><strong>{{ item.question }}</strong><br>{{item.answer}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color4-light);">
            </div>
            <div class="col-md-10">
                <h2 id="travel">Travel
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8">
                <ul>
                    {% for item in entries %}
                        {% if item.tag == "travel" %}
                            <li><strong>{{ item.question }}</strong><br>{{item.answer}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>

    {% include "partials/footer.njk" %}