{% include "partials/header.njk" %}

{% macro categorycount(pagename) %}
    {% set count = 0 %}
    {% for category in collections.resources %}
        {% if category.data.pagename == pagename %}
            {{ category.data.myentries | length + category.data.externalentries | length }}
        {% endif %}
    {% endfor %}
{% endmacro %}

<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color4-light);"></div>
            <div class="col-md-10">
                <h2>Arts and crafts
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8">
                <ul>
                    {% for category in collections.resources | sort(attribute='url')%}
                        {% if category.data.category == "Arts and crafts" %}
                            <li>
                                <a href="{{category.url}}">{{category.data.pagename}}</a>
                                ({{categorycount(category.data.pagename) | trim }})</li>
                            {% if category.data.pagename == pagename %}
                                {{ category.url }}
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </ul>
            </div>
            <div class="col-md-4">
                <figure style="margin-left:24px; margin-right:-24px; padding-bottom:36px; padding-top:-36px;">
                    <img src="https://walker-web.imgix.net/cms/DSC00453-fixed.JPG.jpeg?auto=format,compress&w=1920&h=1200&fit=crop&dpr=1.5">
                    <figcaption>Tetracono (Bruno Munari, 1965)
                        </figcaption>
                </figure>

            </div>
        </div>
    </div>
</div>                    
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color4-light);"></div>
            <div class="col-md-10">
                <h2>Coding
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8">
                <ul>
                        {% for category in collections.resources | sort(attribute='url')%}
                            {% if category.data.category == "Coding" %}
                                <li>
                                    <a href="{{category.url}}">{{category.data.pagename}}</a>
                                    ({{categorycount(category.data.pagename) | trim }})</li>
                                {% if category.data.pagename == pagename %}
                                    {{ category.url }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </ul>
            </div>
            <div class="col-md-4">
                <figure style="margin-left:24px; margin-right:-24px; padding-bottom:36px; padding-top:-36px;">
                    <img src="https://github.com/hxlnt/astrocade/raw/master/etc/bally.png">
                    <figcaption>Bally Astrocade (Rachel Simone Weil, 2017)
                        </figcaption>
                </figure>
                
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color4-light);"></div>
            <div class="col-md-10">
                <h2>Electronics
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8">
                <ul>                    
                        {% for category in collections.resources | sort(attribute='url')%}
                            {% if category.data.category == "Electronics" %}
                                <li>
                                    <a href="{{category.url}}">{{category.data.pagename}}</a>
                                    ({{categorycount(category.data.pagename) | trim }})</li>
                                {% if category.data.pagename == pagename %}
                                    {{ category.url }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </ul>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color4-light);"></div>
            <div class="col-md-10">
                <h2>Food
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8">   
                        <ul>
                        {% for category in collections.resources | sort(attribute='url')%}
                            {% if category.data.category == "Food" %}
                                <li>
                                    <a href="{{category.url}}">{{category.data.pagename}}</a>
                                    ({{categorycount(category.data.pagename) | trim }})</li>
                                {% if category.data.pagename == pagename %}
                                    {{ category.url }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </ul>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color4-light);"></div>
            <div class="col-md-10">
                <h2>Music
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8">  
                        <ul>
                        <li>Electronics projects can be found under <a href="resources/electronics-audio-music">Electronics → Audio and music</a>
                        </li>
                        {% for category in collections.resources | sort(attribute='url')%}    
                            {% if category.data.category == "Music" %}
                                <li>
                                    <a href="{{category.url}}">{{category.data.pagename}}</a>
                                    ({{categorycount(category.data.pagename) | trim }})</li>
                                {% if category.data.pagename == pagename %}
                                    {{ category.url }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </ul>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color4-light);"></div>
            <div class="col-md-10">
                <h2>Play
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8">
                <ul>     
                        {% for category in collections.resources | sort(attribute='url')%}
                            {% if category.data.category == "Play" %}
                                <li>
                                    <a href="{{category.url}}">{{category.data.pagename}}</a>
                                    ({{categorycount(category.data.pagename) | trim }})</li>
                                {% if category.data.pagename == pagename %}
                                    {{ category.url }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                    <figure style="margin-left:24px; margin-right:-24px; padding-bottom:36px; padding-top:-36px;">
                    <img src="https://img.atlasobscura.com/md66r59r-KTtDt_PGOhPGvh3BbA8kQsTXl9g5t_jIy4/rs:fill:12000:12000/q:81/sm:1/scp:1/ar:1/aHR0cHM6Ly9hdGxh/cy1kZXYuczMuYW1h/em9uYXdzLmNvbS91/cGxvYWRzL2Fzc2V0/cy83MTViNmYyNGJi/NmY0MzIwMjNfUGhl/bmFraXN0b3Njb3Bl/XzNnMDc2OTBiLmdp/Zg.gif">
                    <figcaption>A couple waltzing (Eadweard Muybridge, 1893)
                        </figcaption>
                </figure>

            </div>

        </div>
    </div>
</div>

{% include "partials/footer.njk" %}