{% include "partials/header.njk" %}

{# {% macro category(pagename) %} #}
{% if myentries | length %}
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color4-light);"></div>
            <div class="col-md-10">
                    <h2>My resources</h2><br>
            </div>
        </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-8">
                    <ul>
                    {% for item in myentries %}
                        <li><a href="{{ item.url }}" target="_blank">{{ item.name | safe }}</a></li>
                    {% endfor %}  
                    </ul>
                </div>
                <div class="col-md-4">
                </div>
        </div>
    </div>
</div>
{% endif %}

{% if externalentries | length %}
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color4-light);"></div>
            <div class="col-md-10">
                    <h2>External resources</h2><br>
            </div>
        </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-8">
                    <ul>
                    {% for item in externalentries %}
                        <li><a href="{{ item.url }}" target="_blank">{{ item.name | safe }}</a></li>
                    {% endfor %}  
                    </ul>
                </div>
                <div class="col-md-4">
                </div>
        </div>
    </div>
</div>
{% endif %}
{# {% endmacro %}

{{ category(pagename)}} #}

{% include "partials/footer.njk" %}