    <div class="row" style="padding-top: 150px">
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-2 headerblock" style="background-color:var(--color1);">
            </div>
            <div class="col-md-10">
              <h2> About
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color:var(--color1-light)">
            </div>
            <div class="col-md-10">
              <ol class="links">
                <li class="list-item">
                  <a href="/cv">Artist CV</a>
                </li>
                <li class="list-item">
                  <a href="/manifesto">Design manifesto</a>
                </li>
                <li class="list-item">
                  <a href="/inspirations">Inspirations</a>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-2 headerblock" style="background-color: var(--color2);">
            </div>
            <div class="col-md-10">
              <h2>
                My work
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color: var(--color2-light);">
            </div>
            <div class="col-md-10">
              <ol class="links">
                <li class="list-item">
                  <a href="/work#glitch-art">Glitch art</a>
                </li>
                <li class="list-item">
                  <a href="/work#femme-tech">Femme tech</a>
                </li>
                <li class="list-item">
                  <a href="/work#tools">Everything else</a>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-2 headerblock" style="background-color: var(--color4);">
            </div>
            <div class="col-md-10">
              <h2>
                Studio
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color: var(--color4-light); ">
            </div>
            <div class="col-md-10" style="align-self: stretch;">
              <ol class="links">
                <li class="list-item">
                  <a href="/blog">Blog</a>
                </li>
                <li class="list-item">
                  <a href="/telemetry">Telemetry</a>
                </li>
                <li class="list-item">
                  <a href="/resources">Resources</a>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-2 headerblock" style="background-color: var(--color3);">
            </div>
            <div class="col-md-10">
              <h2>
                Other
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 subheaderblock" style="background-color: var(--color3-light);">
            </div>
            <div class="col-md-10">
              <ol class="links">
                <li class="list-item">
                  <a href="https://twitter.com/partytimeHXLNT" target="_blank">Twitter</a>
                </li>
                <li class="list-item">
                  <a href="https://github.com/hxlnt" target="_blank">GitHub</a>
                </li>
                <li class="list-item">
                  <a href="mailto:rachelsimoneweil@gmail.com">Booking</a>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" style="padding: 100px 10% 10px 10%;"><footer>NO CASH VALUE | NO REFUNDS | NO BAD MEMORIES >> Rachel Simone Weil &copy; 2012-2023 ._<u>_-♡<sup>♡</sup>♡-_</u>_. This page last updated on {{ page.date.toLocaleDateString('en-us', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) }}</footer></div>
  </div>		
</div>

  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/scripts.js"></script>
</body>

</html>