html {
  height: 100%;
  box-sizing: border-box; }
  
body {
  background: linear-gradient(135deg, #e9eFc2 0%, #F9FFF2 44%, #ffffff 44%, #ffffff 100%); }

nav {
    /*background-color: orange;*/
    flex: 2 1 30%;
    min-width: 380px;
    max-width: 640px;
    text-align: right;
    padding-top: 2rem;
}

main {
    /*border: 3px solid black;*/
    display: flex;
    min-width: 200px;
}

section {
    /*background-color: yellow;*/
    flex: 1 1 70%;
    min-width: 330px;
    max-width: 860px; }

div.linkbar {
  width: 100%;
  text-align: right;
  display: inline-block; }

figure {
   padding: .5rem;
   width: 80%;
   /*max-height: calc(100vh - 27rem - 16px);*/
   margin: 0;
   /*background: rgba(255,255,255, .75); }*/
   background-color: rgba(201,207,162,.25); 
   /*background-size:cover; background-position: center center; height: calc(100vh - 29rem);*/
   }

figcaption {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: .8rem;
  line-height: 1rem;
  font-weight: normal;
  padding: 0.5rem 0;
  width: 80%;
  font-weight: bold; }

h1 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 4.5rem;
  line-height: 3.5rem;  
  bottom: 0;
  letter-spacing: -.125rem;
  padding-bottom: 0;
  margin-bottom: 1rem;
  word-spacing: .5rem;
  text-align: right;
  vertical-align: baseline; }

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Helvetica', 'Arial', sans-serif;
  width: 80%;
  padding: .5rem;
  word-spacing: .1rem;
  border-bottom: 1rem solid #FFCEDF; }

p {
  font-family: 'Georgia', serif;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 2rem;
  padding: 0 0.5rem;
  width: 80%;
  margin-bottom: 30px; }

a {
  font-family: 'Georgia', serif;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 2rem;
  color: black;
  text-decoration: none;
  padding-bottom: .1rem;
  border-bottom: 1px solid #FFCEDF; }
  
a:hover {
  background-color: rgba(201,207,162,.25); }

a.links {
  margin-right: 4px;
  margin-left: 4px;
  white-space: nowrap; }
  
ol {
  padding-left: 0; }

li {
  padding: .5rem;
  width: 80%;
  font-family: 'Georgia', serif;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 2rem;
  padding-top: 0;
  margin-bottom: 15px;
  list-style-type: none; }

li.notselect11, li.notselect12, li.notselect13, li.notselect14, li.notselect15 {
  display: none; }

li.select {
  display: normal; }
  
i {
  font-size: 1.1rem;
  font-weight: normal;
  color: black; }
  
span.expand {
  align: right;
  font-family: 'Georgia', serif;
  font-size: .75rem;
  float: right;
  font-weight: normal;
  padding: .5rem;
  text-transform: uppercase;
  cursor: pointer; }
  
/* Media queries */

@media all and (max-width:740px) {
    main { 
        display: flex;
        flex-flow: column wrap; 
        }
    section {
        margin-top: 4.5rem;
    }
    h2, figcaption, figure {
        width: 90%;
    }
    nav {
        max-width:740px;
    }
}

@media all and (min-width: 741px) {
    section {
        margin-top: 19rem;
        margin-left: 2.5rem;
    }
    