slug {
  position: fixed;
  top: 0;
  z-index: 0;
  height: 30rem;
  width: 100%;
  text-align: left; }

span.slug {
  display: block;
  transform: rotate(90deg);
  transform-origin: left top 0;
  position: fixed;
  margin: 0;
  top: 8rem;
  padding-top: 1rem;
  width: 16rem;
  right: -16rem;
  z-index: 35;
  font-size: .8rem;
  line-height: 1.2rem;
  font-family: "Helvetica", "Arial", sans-serif;
  color: black; }
  span.slug a {
    font-size: .8rem;
    line-height: 1.2rem;
    font-family: "Helvetica", "Arial", sans-serif;
    color: black; }

html {
  box-sizing: border-box;
  overflow-x: hidden; }

header {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #34b1e9;
  background: -moz-linear-gradient(-45deg, rgba(52, 177, 233, 0.8) 0%, rgba(52, 177, 233, 0.8) 10%, rgba(52, 177, 233, 0.65) 10%, rgba(52, 177, 233, 0.65) 20%, rgba(52, 177, 233, 0.5) 20%, rgba(52, 177, 233, 0.5) 30%, rgba(52, 177, 233, 0.35) 30%, rgba(52, 177, 233, 0.35) 40%, rgba(52, 177, 233, 0.2) 40%, rgba(52, 177, 233, 0.2) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(52, 177, 233, 0.8) 0%, rgba(52, 177, 233, 0.8) 10%, rgba(52, 177, 233, 0.65) 10%, rgba(52, 177, 233, 0.65) 20%, rgba(52, 177, 233, 0.5) 20%, rgba(52, 177, 233, 0.5) 30%, rgba(52, 177, 233, 0.35) 30%, rgba(52, 177, 233, 0.35) 40%, rgba(52, 177, 233, 0.2) 40%, rgba(52, 177, 233, 0.2) 100%);
  background: linear-gradient(135deg, rgba(52, 177, 233, 0.8) 0%, rgba(52, 177, 233, 0.8) 10%, rgba(52, 177, 233, 0.65) 10%, rgba(52, 177, 233, 0.65) 20%, rgba(52, 177, 233, 0.5) 20%, rgba(52, 177, 233, 0.5) 30%, rgba(52, 177, 233, 0.35) 30%, rgba(52, 177, 233, 0.35) 40%, rgba(52, 177, 233, 0.2) 40%, rgba(52, 177, 233, 0.2) 100%);
  background-attachment: fixed; }

div#navlinks a {
  padding-right: .75rem;
  font-family: "Helvetica", "Arial", sans-serif; }

img {
  width: 100%;
  margin: 0;
  padding-top: 2rem; }

div.videowrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%; }

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

span.article-endmatter, span.article-endmatter a {
  font-size: .8rem;
  line-height: 1.2rem;
  font-family: "Helvetica", "Arial", sans-serif; }

ul {
  list-style-type: none;
  padding: 0;
  font-family: 'Helvetica', 'Arial', sans-serif; }

ol li {
  margin-left: 5vw;
  padding-left: 2.5vw;
  font-family: 'Helvetica', 'Arial', sans-serif; }

a, a:visited {
  text-decoration: underline;
  color: black;
  opacity: .8; }

a:hover, a:active {
  text-decoration: underline;
  color: #34b1e9; }

a.navlinks, a.navlinks:visited, a.social:visited, a.social-small:visited {
  color: ghostwhite;
  text-decoration: none; }

a.navlinks:hover, a.social-small:hover, a.social-small:active, a.navlinks:active, a.social:hover, a.social:active {
  color: lightblue;
  text-decoration: none; }

ul.hidden {
  opacity: 0; }

main {
  background-color: white;
  min-height: 90%; }

h1, h1 a {
  color: black;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-decoration: none; }

h1 span#bad {
  font-weight: normal; }

h2 {
  color: black;
  max-width: 850px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin-right: 5vw; }

h2:before {
  content: "\B6  "; }

p, li {
  font-family: 'Helvetica', 'Arial', sans-serif;
  position: relative;
  max-width: 850px;
  padding-left: 5vw; }

p.blogdesc, p.blogdesc a {
  line-height: 1.5rem;
  font-size: 1rem;
  font-style: italic;
  top: -1rem; }

figure {
  margin: 0;
  max-width: 850px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  padding-bottom: 6px; }

div.videowrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%; }

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

div#disqus_thread {
  position: relative;
  display: block;
  height: 100%;
  margin-top: 40px;
  padding-right: 5vw; }

button {
  border: none;
  color: black;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: smaller;
  margin: 2px 2px;
  cursor: default;
  font-family: monospace;
  border-radius: 8px; }

button.tech {
  background-color: rgba(200, 240, 100, 0.6); }

button.acad {
  background-color: rgba(220, 100, 200, 0.6); }

button.exhb {
  background-color: rgba(100, 220, 220, 0.6); }

/* Media queries */
@media screen and (max-aspect-ratio: 4 / 5) {
  header {
    display: flex;
    flex-direction: column;
    min-height: 32vh;
    width: 92vw;
    padding: 4vw; }
  main {
    top: 32vh;
    left: 0;
    width: 100vw;
    position: absolute; }
  article {
    padding-right: 5vw; }
  slug {
    display: none; }
  h1, h1 a {
    font-size: 6vh;
    line-height: 5.5vh;
    bottom: 0;
    letter-spacing: -.125vh;
    word-spacing: .5vh; }
  h2, h2 a {
    font-size: 1.75rem;
    line-height: 2.75rem;
    bottom: 0;
    margin-right: 0; }
  sup {
    font-size: 2.5vh; }
  li.nav {
    display: inline;
    padding-right: 4vw;
    font-size: 1.75vh;
    line-height: 2.5vh;
    border-top: 4px solid ghostwhite;
    color: ghostwhite;
    font-family: 'Helvetica', 'Arial', sans-serif;
    position: relative;
    max-width: 850px;
    margin-right: 1.5vw; }
  a, p, ol {
    font-size: 1rem;
    line-height: 1.75rem; }
  h3 {
    font-size: 1.5rem;
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 1.5rem;
    max-width: 850px;
    color: dodgerblue; }
  figure {
    font-size: 1rem;
    line-height: 1.5rem; }
  a.social {
    color: ghostwhite;
    font-family: 'Helvetica', 'Arial', sans-serif;
    position: relative;
    display: inline;
    margin-right: 15px; }
  a.social-small, p.social-small {
    color: ghostwhite;
    font-family: 'Helvetica', 'Arial', sans-serif;
    position: relative;
    display: inline;
    margin-right: 0px;
    font-size: 1rem; } }

@media screen and (min-aspect-ratio: 4 / 5) {
  header {
    height: 92vh;
    width: 30vw;
    padding: 4vw; }
  a.social {
    color: ghostwhite;
    font-family: 'Helvetica', 'Arial', sans-serif;
    position: relative;
    display: block;
    margin-right: 5px; }
  a.social-small, p.social-small {
    color: ghostwhite;
    font-family: 'Helvetica', 'Arial', sans-serif;
    position: relative;
    display: inline;
    margin-right: 5px;
    font-size: 1rem; }
  main {
    top: 0;
    left: 38vw;
    /*width: 60vw;*/
    position: absolute;
    padding: 5vw 10vw 5vw 5vw; }
  ol, p, a, ul {
    font-size: 1.25rem;
    line-height: 2.5rem; }
  li, li a {
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding-bottom: 1.5rem; }
  h3 {
    font-size: 2rem;
    line-height: 2rem;
    max-width: 850px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: dodgerblue; }
  p:first-of-type {
    margin-top: 13vw; }
  h1, h1 a {
    font-size: 4vw;
    line-height: 4vw;
    bottom: 0;
    letter-spacing: -.125vw;
    word-spacing: .5vw;
    position: relative; }
  h2, h2 a {
    font-size: 1.75rem;
    line-height: 2.75rem;
    bottom: 0; }
  sup {
    font-size: 1.5vw; }
  figure {
    font-size: 1.25rem;
    line-height: 2rem; }
  li.nav {
    padding-right: 4vw;
    font-size: 1.75vw;
    line-height: 2.5vw;
    border-top: 4px solid ghostwhite;
    color: ghostwhite;
    font-family: 'Helvetica', 'Arial', sans-serif;
    position: relative;
    max-width: 850px;
    margin-right: 1.5vw;
    display: block; }
  ul {
    padding-right: 5vw; } }
